*{
    margin: 0%;
}
#div1{
    background-color: rgb(52, 48, 48);
    width: 100%;
    height: 60px;
    position: sticky;
    top: 0%;
    display: flex;
}
#div2{
    color: white;
    font-size: larger;
    font-weight: bold;
    width: 12%;
    padding: 15px;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
#div3{
    display: flex;
    padding: 2px;
    padding-left: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
#div4{
    border: 1px solid;
    width: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 7px;
    border-color: rgb(124, 123, 121)

}
#i1{
    color: aliceblue;
    font-size: 10px;
    padding: 10px;
    padding-top: 15px;
}
#i1:hover{
    color: rgb(155, 80, 80);
}
#div4:hover{
    border-color: rgb(231, 128, 128);
    columns: red;
}

#div5{
    margin-left:280px ;
    display: flex;

}
#ol1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    list-style: none;
    display: flex;
    justify-content: space-between;
    font-style: oblique;
    font-weight: bold;
    width: 100%;
    margin: 5px;
    font-size:large;
    padding: 3px;
    border-radius: 7px;
    color:aliceblue;
    border: 1px solid;
    border-color: rgb(56, 71, 84);
}

#ol2{
    list-style: none;
    font-style: oblique;
    font-weight: bolder;
    font-size:18px ;
    color:aliceblue;
    margin: 2px;
    display: flex;
}

#li1{
    height: 30px; 
    width: 130px;
    border-radius: 5px;
    border: 1px solid;
    border-color: rgb(235, 234, 232);
    padding: 5px;
    margin-top: 7px;
    padding-top: 5px;
}

#li2{
    width:fit-content;
    height: 20px;
    border-radius: 5px;
    border: 1px solid;
    border-color: rgb(236, 209, 177);
    margin-top: 5px;
    margin-left:5px ;
    padding: 10px;
    display: flex;  
}
#li2:hover{
    border-color: red;
    color: red;
}
#li3{
    width:fit-content;
    height: 20px;
    border-radius: 5px;
    border: 1px solid;
    border-color: rgb(184, 162, 134);
    margin-top: 5px;
    margin-left:5px ;
    padding: 10px;
    background-color: red;
}
.cl1{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
}
.cl1:hover{
    background-color: grey;
    height: 20px;
    
}

#a1{
    border-radius:1px;
    background-color:rgb(52, 47, 199);
    color: aliceblue;
    font-weight:bold;
    font-size: 12px;
    padding-top: 0px;
    
}
#a2{
    border-radius: 10px;
    background-color: rgb(10, 145, 222);
    color: aliceblue;
    font-weight:bold;
    font-size: 18px;
    margin-left: 10px;
    margin-bottom: 10px;
   
}
#a2:hover{
    background-color:rgb(52, 47, 199);
}

#div6{
    margin-top: 60px;
    height: 30px;
    width: 80%;
    margin-left: 10%;
}
#ol3{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    font-size: 15px;
    margin-right: 20px;
}
#i2{
    width: fit-content;
    height: fit-content;
    border-radius: 20px;
    background-color: rgb(81, 88, 88);
    color:rgb(247, 245, 244);
    padding: 7px;
    margin-right: 10px;
    box-shadow: 3px 3px 2px grey;
}
#i3{
    width: fit-content;
    height: fit-content;
    border-radius: 20px;
    background-color: rgb(81, 88, 88);
    color:rgb(247, 245, 244);
    padding: 7px;
    margin-right: 10px;
    box-shadow: 3px 3px 2px grey;
}
.li4{
    color: rgb(117, 134, 134);
}
.li4:hover{
    color: red;
    transition-duration: 1s;
}
.li4:hover #i2{
    background-color: red;
    transition-duration: 1s;
}
#div7{
    font-size: 60px;
    font-family:sans-serif;
    font-weight: 200px;
    margin-top: 120px;
    text-align: center;
    color: red;
    text-shadow: 5px 5px 2px rgb(224, 204, 204);
}
#div8{
    margin-top: 30px;
    text-align: center;
    color:grey ;
}
#div9{
    margin-top: 70px;
    border-top: 1px solid;
    width: 90%;
    height: 10px;
    margin-left: 5%;
    border-bottom: 1px solid;
    border-color: gray;
}
#div10{
    margin-top: 100px;
    text-align: center;
    font-size: 30px;
    color: rgb(110, 96, 96);
}
#span1{
    color: rgb(42, 35, 35);
}
#div11{
    margin: 100px;
    display: flex;
    width: 85%;
    justify-content: space-between;
}
.div12{
    border: 2px solid;
    width: 25%;
}
.img1{
    width: 350px;
    
}